---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
---

<Layout title="Estrutura de Dados">
  <Header />
  <main>
    <!-- Página de Estrutura de Dados - Em desenvolvimento -->
  </main>
</Layout>
