---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
---

<Layout title="Algoritmos">
  <Header />
  <main>
    <!-- Algoritmos - Em desenvolvimento -->
  </main>
</Layout>
