---
import Logo from "../assets/logo.svg"
---

<header class="p-4">

  <nav class="flex justify-between">
    <span class="size-9">
      <Logo/> 
    </span>
    <span>
      <ul class="flex gap-2">
        <li><a href="">Home</a></li>
        <li><a href="">Introdução</a></li>
        <li><a href="">Algoritmos</a></li>
        <li><a href="">E. dados</a></li>
      </ul>
    </span>
  </nav>
</header>
