---
interface Props {
  label?: string;
}

const { label } = Astro.props;
---

<div class="flex items-center gap-0.5 text-primary mb-2">
  <slot name="icon" />
  {label && (
    <h2 class="text-xs font-semibold uppercase tracking-wide text-primary">{label}</h2>
  )}
</div>
